<html>
    <head>
        <meta charset="UTF-8">
        <title>환영합니다.</title>
    </head>
    <body>
        <!-- 단일data를 넣어올때 -->
        <!-- <h1>{{name}}님 환영합니다.</h1> -->

        <!-- dict에 multi데이터 넣어올때 -->
        <!-- <h1>{{data.name}}님 환영합니다.</h1>
        <h1>{{data.age}}</h1> -->

        <!-- 사용자가 get요청으로 넘긴 data를 받아올때 -->

        <!-- 파이썬 탬플릿엔진과 html 주석간의 선후문제가 발생할 경우
        {#  #} 를 통해 파이썬의 템플릿엔진 문법을 감싼다.
        -->
        <!-- <h1>{# {{}} #}</h1> -->
        <!-- <h1>이름은 {{data.name}}</h1>
        <h1>email은 {{data.email}}</h1>
        <h1>password은 {{data.password}}</h1> -->
    </body>
</html>